<!--@model List<DoAnKhoaCNTT.Models.Database.ConTentTinTuc>
@using DoAnKhoaCNTT.Models.Database;-->
@*@model List<ConTentTinTuc>*@
<!--<div class="noidung-dexuat">
    <div class="tennoidung-dexuat">
        @foreach (var item in Model)
        {
            <h2><img src="~/Content/images/rec.png" /><a href="#">@item.Name</a></h2>
        }-->
        @*<h2><img src="~/Content/images/rec.png" /><a href="#" title="Công bố điểm chuẩn các ngành">Công bố điểm chuẩn các ngành</a></h2>
            <h2><img src="~/Content/images/rec.png" /><a href="#" title="Hình thức tuyển sinh các ngành">Hình thức tuyển sinh các ngành</a></h2>
            <h2><img src="~/Content/images/rec.png" /><a href="#" title="Thời gian nộp hồ sơ xét học bạ các ngành">Thời gian nộp hồ sơ xét học bạ các ngành</a></h2>*@
    <!--</div>
    <div class="xemthem"><a href="#">Xem thêm</a></div>
</div>-->


