
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listNoiDungTuyenSinhs = (List<DoAnKhoaCNTT.Models.Database.ConTentTinTuc>)ViewBag.XemThemNoiDungTuyenSinhs;
}

<a>Chào mừng đến với IT Hufi</a>
@*<img src="~/Content/images/"/>*@

